<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PROJECT</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>index</display-name>
    <servlet-name>index</servlet-name>
    <servlet-class>com.klef.index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signup</display-name>
    <servlet-name>signup</servlet-name>
    <servlet-class>com.klef.signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signin1</display-name>
    <servlet-name>signin1</servlet-name>
    <servlet-class>com.klef.signin1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signin1</servlet-name>
    <url-pattern>/signin1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logred</display-name>
    <servlet-name>logred</servlet-name>
    <servlet-class>com.klef.logred</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logred</servlet-name>
    <url-pattern>/logred</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ballot</display-name>
    <servlet-name>ballot</servlet-name>
    <servlet-class>com.klef.ballot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ballot</servlet-name>
    <url-pattern>/ballot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adlog</display-name>
    <servlet-name>adlog</servlet-name>
    <servlet-class>com.klef.adlog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adlog</servlet-name>
    <url-pattern>/adlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>search</display-name>
    <servlet-name>search</servlet-name>
    <servlet-class>com.klef.search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.klef.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyCode</display-name>
    <servlet-name>VerifyCode</servlet-name>
    <servlet-class>com.klef.VerifyCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyCode</servlet-name>
    <url-pattern>/VerifyCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete</display-name>
    <servlet-name>delete</servlet-name>
    <servlet-class>com.klef.delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminlogout</display-name>
    <servlet-name>Adminlogout</servlet-name>
    <servlet-class>com.klef.Adminlogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminlogout</servlet-name>
    <url-pattern>/Adminlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>retpass</display-name>
    <servlet-name>retpass</servlet-name>
    <servlet-class>com.klef.retpass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>retpass</servlet-name>
    <url-pattern>/retpass</url-pattern>
  </servlet-mapping>
</web-app>